{% extends 'base.html.twig' %}

{% block title %}Nouveau mot de passe {% endblock %}

{% block body %}
    <div class="container">
        <div class="row px-5 py-5">
            <div class="offset-md-3 col-md-6">
                <div class="bg-light border border-dark px-3 py-3 text-center">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-2">Choisir un nouveau mot de passe</h1>
                            <p class="mb-4">Veuillez entrer votre nouveau mot de passe!</p>
                        </div>
                        {{ form_start(form, {'attr': {'class': 'user mb-4'}}) }}
                        <div class="form-group">
                            {{ form_widget(form.newPassword, {'attr': {'class': 'form-control-user'}}) }}
                        </div>
                        <button type="submit" class="btn btn-primary btn-user btn-block">
                            Changer mon mot de passe
                        </button>
                        {{ form_end(form) }}
                        <hr>
                        <div class="text-center">
                            <a class="small" href="{{ path('account_register') }}">Créer un compte</a>
                        </div>
                        <div class="text-center">
                            <a class="small" href="{{ path('account_login') }}">Se connecter</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
