<!DOCTYPE html>
<html>
<body>
<div class="navben">
    <nav class="navbar navbar-fixed-top navbar-expand-lg navbar-light bg-light pr-5">
        <a class="navbar-brand" href="{{ path('homepage') }}">
            <img style="height:50px;width:150px;" src="/photos/logo/twitter_header_photo_1.png" alt="">
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03"
                aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse " id="navbarColor03">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('homepage') }}">Accueil <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('tricks_index') }}">Triks</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('account_register') }}">Inscription</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{{ path('account_login') }}">Mon compte</a>
                </li>
            </ul>

        </div>
    </nav>
</div>
<section class="py-3 px-3">

</section>
{% for label, messages in app.flashes %}
    <div class="container">
        <div class="alert alert-{{ label }}">
            {% for message in messages %}
                <p>{{ message | raw }}</p>
            {% endfor %}
        </div>
    </div>
{% endfor %}

{% block body %}{% endblock %}

<footer class="blog-footer">
    <p>Blog template built for <a href="https://getbootstrap.com/">Bootstrap</a> by <a href="https://twitter.com/mdo">@mdo</a>.</p>
    <p>Slightly modified by Beniamin Tolan</p>
    <p>
        <a href="#">Back to top</a>
    </p>
</footer>

<script src="/js/jquery.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>

<!-- DON'T TOUCH! -->
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>
<!--================================-->
{% block javascripts %}{% endblock %}
</body>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/stylecustom.css') }}">
    {% block stylesheets %}{% endblock %}
</head>
</html>
