{% for trick in tricks %}

    {% set url = path('tricks_show', {'id': trick.id}) %}


    {% set urlSlug = path('tricks_show', {'id' : trick.id}) %}

    {% if trick.images[0] is defined %}

        {% set photo = asset('uploads/tricks/'~trick.images[0].filename) %}
    {% else %}
        {% set photo = asset('photos/12.jpg') %}
    {% endif %}

    <div class="col-md-4 trick-detail">
        <div class="card bg-light mb-3">

            <img class="img-thumbnail" src={{ photo }}>

            <div class="card-header text-center">
            </div>

            <div class="card-body">
                <h4 class="card-title">
                    <a href="{{ urlSlug }}">
                        {{ trick.title }}
                    </a>
                </h4>
                <p class="card-text">
                    {{ trick.content |raw }}
                </p>
                <a href="{{ urlSlug }}" class="btn btn-primary float-right"> En savoir plus </a>
                {% if app.user and app.user == trick.author %}
                    <a href="{{ path('tricks_edit', {'id': trick.id}) }}" class="btn btn-secondary">Modifier
                        l'annonce</a>
                {% endif %}
            </div>

        </div>
    </div>


{% endfor %}


