{% extends 'base.html.twig' %}
{% block title %} Edition d'un Trick {% endblock %}
{% block stylesheets %}
{% endblock %}

{% form_theme form 'trick/_collection.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <div class="border border-dark py-3 px-3">
                    <div class="text-center">
                        <h1>Modifier le trick {{ trick.title }}</h1>
                    </div>

                    <div class="px-1 py-1">


                        <div class="section">
                            {{ form_start(form) }}

                            {{ form_widget(form) }}

                            <div id="editor"></div>
                            <div class="text-center py-3">
                                <button type="submit" class="btn btn-primary">Enregistrer les modifications</button>
                            </div>

                            {{ form_end(form) }}
                        </div>


                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="border border-dark py-3 px-3">
                    <h3>Trick Pictures</h3>
                    <ul class="list-group small">
                        {% for image in trick.images %}
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                {{ image.caption }}

                                <span>
                            <a href="{{ path('tricks_image_download', {
                                id: image.id
                            }) }}"><span class="fa fa-download"></span></a>
                                </span>
                            </li>
                        {% endfor %}
                    </ul>
                    <form action="{{ path('tricks_add_images', {
                        id:trick.id
                    }) }}" method="post" enctype="multipart/form-data">
                        <input type="file" name="image">
                        <button type="submit" class="btn btn-sm btn-primary">Televerser</button>
                    </form>
                </div>
            </div>
        </div>

    </div>
{% endblock %}

{% block javascripts %}
    <script src="https://cdn.ckeditor.com/ckeditor5/18.0.0/classic/ckeditor.js"></script>
    <script>
        ClassicEditor
            .create(document.querySelector('#editor'))
            .catch(error => {
                console.error(error);
            });
    </script>

    <script src="{{ asset('js/trick.js') }}"></script>
{% endblock %}



