{% extends 'base.html.twig' %}
{% block title %} {{ trick.title }} {% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="/css/stylecustom.css">
{% endblock %}

{% set countComments = trick.comments|length %}

{% set trickID = trick.id %}

{% block body %}
    <div class="container" id="test">
        <section>
            {#asset('uploads/'~trick.images[0].filename)#}
            {% if imageStar is not null %}
                <div id="showcasetrik"
                     style="background: url('{{ asset('uploads/tricks/'~imageStar.filename) }}') bottom / cover no-repeat"></div>
            {% else %}
                {% if trick.images[0] is defined %}
                    <div id="showcasetrik"
                         style="background: url('{{ asset('uploads/tricks/'~trick.images[0].filename) }}') bottom / cover no-repeat"></div>
                {% else %}

                    <div id="showcasetrik"
                         style="background: url('{{ asset('photos/12.jpg') }}') bottom / cover no-repeat"></div>
                {% endif %}
            {% endif %}
        </section>

        <a href="{{ path('user_show', {'id': trick.author.id}) }}">
            <h4>{{ trick.author.fullName }}</h4>
        </a>

        <button class="btn btn-sm bg-info">{{ trick.author.tricks | length }} triks</button>

        {% if app.user and app.user == trick.author %}
            <a href="{{ path('tricks_edit', {'id': trick.id}) }}" class="btn btn-secondary">Modifier le trick</a>
            <a href="{{ path('tricks_delete', {'id': trick.id}) }}" class="btn btn-danger"
               onclick="return confirm(`Êtez-vous de suprimmer le trick: {{ trick.title }}?`)">Supprimer le trick</a>
        {% endif %}

        <section>
            <div class="row my-2">
                <div class="col-6">
                    <div class="row">
                        {% for image in trick.images %}
                            <div class="col-md-4">
                                <div class="card mb-4 shadow-sm">
                                    <div class="img-thumbnail">
                                        <img class="img-fluid"
                                             src="{{ asset('uploads/tricks/'~image.filename) }}"
                                             alt="{{ image.filename }}">
                                    </div>
                                    {% if app.user and app.user == trick.author %}
                                    <div class="card-body">
                                        <a href="{{ path('tricks_image_delete', {
                                            id: image.id
                                        }) }}" class="btn btn-outline-danger"><span class="fa fa-trash"></span></a>
                                        <a href="{{ path('tricks_image_star', {
                                            id: image.id
                                        }) }}" class="btn btn-success"><span class="fa fa-star"></span></a>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-6">
                    <div class="row">
                        {% for video in trick.videos %}

                            <div class="col-md-6">
                                <div class="card mb-4 shadow-sm">
                                    <div class="embed-responsive embed-responsive-16by9">
                                        <iframe class="" src="https://player.vimeo.com/video/{{ video.url }}"
                                                frameborder="0"
                                                allowfullscreen>
                                        </iframe>
                                    </div>
                                </div>
                            </div>

                        {% endfor %}
                    </div>
                </div>
            </div>

            <div>
                {{ trick.content | raw }}
            </div>

        </section>
        <hr>
        <section>

            {{ include('trick/_new.comment.html.twig') }}

            <hr>

            <div id="commentContainer">

            </div>
            {% if countComments > 0 %}
                <div class="text-center my-3">
                    <button class="btn btn-info" id="loadMoreButton">Load More</button>
                </div>
            {% else %}
                <div class="text-center">
                    <p>Cette annonce n'a pas encore des commentaires!</p>
                </div>
            {% endif %}

        </section>
    </div>

{% endblock %}



{% block javascripts %}
    <script>
        getmoredata();

        $("#loadMoreButton").on('click', function () {

            getmoredata();
        });


        function getmoredata() {
            let offsetJS = $(".comment-detail").length;
            let url = '{{ path("comments_load", {'offset': 'offset-int', 'id': trickID }) }}';
            url = url.replace("offset-int", offsetJS);
            $.ajax({
                type: "GET",
                url: url,
                success: function (response) {
                    $("#loadMoreButton").click(function () {
                        if ($(".comment-detail").length === {{ countComments }}) {
                            $(this).hide();
                        }
                    });
                    $('#commentContainer').append(response);
                    console.log($(".comment-detail").length);
                },
                error: function (response) {
                    console.log(response);
                }
            });

        }
    </script>
{% endblock %}


