{% extends 'base.html.twig' %}
{% block title %} {{ trick.title }} {% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="/css/stylecustom.css">
{% endblock %}
{% block body %}
    <div class="container" id="test">
        <section>
            {#asset('uploads/'~trick.images[0].filename)#}
            {% if trick.images[0] is defined %}
                <div id="showcasetrik"
                     style="background: url('{{ asset('uploads/tricks/'~trick.images[0].filename) }}') bottom / cover no-repeat"></div>
            {% else %}

                <div id="showcasetrik"
                     style="background: url('{{ asset('photos/12.jpg') }}') bottom / cover no-repeat"></div>
            {% endif %}
        </section>

        <a href="{{ path('user_show', {'id': trick.author.id}) }}">
            <h4>{{ trick.author.fullName }}</h4>
        </a>

        <button class="btn btn-sm bg-info">{{ trick.author.tricks | length }} triks</button>

        {% if app.user and app.user == trick.author %}
            <a href="{{ path('tricks_edit', {'id': trick.id}) }}" class="btn btn-secondary">Modifier le trick</a>
            <a href="{{ path('tricks_delete', {'id': trick.id}) }}" class="btn btn-danger"
               onclick="return confirm(`Êtez-vous de suprimmer le trick: {{ trick.title }}?`)">Supprimer le trick</a>
        {% endif %}

        <section>
            <div class="row my-2">

                {% for image in trick.images %}

                    <div class="col-md-3 ">

                        <img class="img-fluid h-25"
                             src="{{ asset('uploads/tricks/'~image.filename) }}" alt="{{ image.filename }}">
                    </div>



                {% endfor %}
            </div>

            <div>
                {{ trick.content | raw }}
            </div>

        </section>
    </div>
{% endblock %}


