{% extends 'base.html.twig' %}
{% block title %} {{ trick.title }} {% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="/css/stylecustom.css">
{% endblock %}
{% block body %}
    <div class="container" id="test">
        <section>
            {#asset('uploads/'~trick.images[0].filename)#}

            <div id="showcasetrik"
                 style="background: url('{{ asset('photos/12.jpg') }}') bottom / cover no-repeat"></div>
        </section>
        <a href="{{ path('user_show', {'id': trick.author.id}) }}">
            <h4>{{ trick.author.fullName }}</h4>
        </a>

        <button class="btn btn-sm bg-info">{{ trick.author.tricks | length }} triks</button>

        {% if app.user and app.user == trick.author %}
            <a href="{{ path('tricks_edit', {'id': trick.id}) }}" class="btn btn-secondary">Modifier le trick</a>
        {% endif %}

        <section>
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    {% for image in trick.images %}
                        <li data-target="#carouselExampleIndicators" data-slide-to="{{ loop.index0 }}"
                            class="{% if loop.first %}active{% endif %}"></li>
                    {% endfor %}
                </ol>

                <div class="carousel-inner">
                    {% for image in trick.images %}
                        <div class="carousel-item {% if loop.first %}active{% endif %}">

                            <img src="{{ image.filename }}" class="d-block w-100" alt="...">
                        </div>
                    {% endfor %}
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
            <div>
                {{ trick.content | raw }}
            </div>

        </section>
    </div>
{% endblock %}


